.editor-textbox {
  width: 100%;
  height: 300px;
}

.button-compile {
  width: 100%;
}

.code-font {
  font-family: monospace;
  white-space: pre;
}

.table-sm {
  font-family: monospace;
  font-weight: bold;
}

.section {
  margin-top: 50px;
}

.output {
  height: 400px;
  overflow-y: scroll;
}
